h1{
    color: rgb(27, 151, 233);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-shadow: 3px 2px grey;
    font-size: 60px;
    background-color: lightblue;
}

button {
    width: 50%;
    background-color: lightblue;;
    color: rgb(27, 151, 233);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 1px 1px grey;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

button:hover{
    width: 50%;
    background-color: lightblue;;
    color: rgb(27, 151, 233);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 1px 1px grey;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    margin-right: 8%;
    font-size: 15px;
}

#city{
    color: black;
    font-family: "Trebuchet MS";
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 15px;
    padding: 12px 20px;
           
}

#FormattedAddress1, #FormattedAddress2, #distance, #missing, #error1, #error2 {
    text-align: center;
    font-size: 15px;
    font-family: "Trebuchet MS";
}
